/* You can add global styles to this file, and also import other style files */
body, html {
  background-color: #F0F0F0;
  height: auto;

}

#homeComp {
  background-image: url('/assets/images/landingPage.png');
}
