body, html{
  height: 100%;
}

#bg{
  /*background-image: url('/../../assets/images/landingPage.png');*/
  border-radius: 3px;
  height: 400px;
  background-size: cover;
  background-position: center;
  color: red;
}
