
<div id="formCont"class="container-fluid">

<div class = "col-sm-3"></div>
<div id="homeCard"class = "col-sm-6 z-depth-2">
    <div class="showForms" id="formHead">
      <span  (click)="showSignupForm()">
      Sign Up</span> -or-
      <span  (click)="showLoginForm()">
      Login</span>
    </div>

    <div >

    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>

      <form *ngIf = "isShowingSignup" (ngSubmit)="doSignUp()">
        <div class="row">
          <div class="col-sm-4"></div>
          <div id="signUpHead" class="col-sm-4"> Sign Up </div>
          <div class="col-sm-4"></div>
        </div>
        <label for="full-name-input" class="form-top"> Full Name </label>
        <input  class="form-control input" id="full-name-input" type="text" placeholder="Chef Kiki"
            [(ngModel)]="signUpInfo.fullName" name="fullNameValue">
        <br>

        <label for="email-input"> Email </label>
        <input  class="form-control input" id="email-input" type="email" placeholder="chefkiki@delicious.com"
            [(ngModel)]="signUpInfo.email" name="emailValue">
        <br>

        <label for="password-input"> Password </label>
        <input class="form-control input" id="password-input" type="password" placeholder="*****"
            [(ngModel)]="signUpInfo.password" name="passwordValue">
        <br>
        <div class="row">
          <div class="col-sm-2"></div>
          <button class="btn-primary col-xs-8"> Join Now </button>
          <div class="col-sm-2"></div>
        </div>
      </form>
    </div>
    <div class="form-group" *ngIf = "isShowingLogin">
      <form (ngSubmit)="doLogin()">
        <div class="row">
          <div class="col-sm-4"></div>
          <div id="loginHead" class="col-sm-4"> Login </div>
          <div class="col-sm-4"></div>
        </div>
        <label for="login-email-input"> Email </label>
        <input  class = "form-control input" id="login-email-input" type="email" placeholder="hi@example.com"
            [(ngModel)]="loginInfo.email" name="loginEmail">
        <br>

        <label for="login-pass-input"> Password </label>
        <input  class = "form-control input" id="login-pass-input" type="password" placeholder="*****"
            [(ngModel)]="loginInfo.password" name="loginPassword">
        <br>

        <div class="col-sm-2"></div>
        <button class="btn-primary col-xs-8"> Login </button>
        <div class="col-sm-2"></div>      </form>
    </div>
</div>
<div class = "col-sm-3"></div>
</div>
