<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Pacifico|Raleway" rel="stylesheet">

<nav id="navbarA" class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#">Salty</a>
  <button class="navbar-toggler font" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon font"></span>
  </button>
  <div class="collapse navbar-collapse font" id="navbarNavDropdown">
    <ul class="navbar-nav font">
      <li class="nav-item active font">
        <a class="nav-link font" [routerLink]="['/recipes']">Explore Recipes |<span class="sr-only font">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li> -->
      <!-- <li *ngIf="currentUser"> {{currentUser.fullName}} </li> -->
      <li *ngIf="currentUser" class="nav-item">
        <a class="nav-link font" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/profile', currentUser._id]">
        {{currentUser.fullName}}
        </a>
        <div *ngIf="currentUser" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item font" [routerLink]="['/profile', currentUser._id]">Action</a>
          <a class="dropdown-item font" href="#">Another action</a>
          <a class="dropdown-item font" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
