.navbar-brand {
font-family: Pacifico;
letter-spacing: 3px;
font-size: 30px;
color: #FC5185;
font-weight: 600;

}
.navbar-brand:hover {
font-family: Pacifico;
letter-spacing: 3px;
font-size: 25px;
color: white;
}

#navbarA {
  background-color: #364F6B;
}

nav {
  background-color: #364F6B;
}

.nav-link {
  color: white
}

.font{
  font-family: Raleway;
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
}
