body {
  padding: 20px;
}
#recipeName {
  text-align: left;
  font-family: 'Raleway';
  font-size: 45px;
  color: #2f7584;
  margin-bottom: 15px;
  letter-spacing: 5px;
  font-weight: bold;
  padding-left: 25px;

}

img {
  width: 750px;
  height: auto;
}

label {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #5d5e60;
}


#wholeRecipe {
  padding:10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

#recipeCreator {
  margin-bottom:15px;
  font-size: 27px;
  font-family: 'Open Sans';
  color:
}
.glyphicon-user {
  font-size: 30px;
}
span{
  margin-right: 5px;
}

#recipeCooktime {
  font-family: 'Raleway';
  margin-bottom:20px;
  font-size: 18px;
  text-align: center;
  color: grey;
  border-right: 1px solid grey;
  letter-spacing: 3px;

}
#recipeServes {
  font-family: 'Raleway';
  margin-bottom:20px;
  font-size: 18px;
  text-align: center;
  color: grey;
  letter-spacing: 3px;

}

.time {
  text-align: center;
  font-size:25px;
  font-family: 'Open Sans'
}

.serves {
  text-align: center;
  font-size:25px;
  font-family: 'Open Sans'
}

.ingredients{
  margin-top:30px;
  font-family: 'Raleway';
  margin-bottom:20px;
  font-size: 18px;
  text-align: left;
  color: grey;
  letter-spacing: 3px;
}

#eachIng {
  text-align: left;
  font-size: 18px;
  font-family: 'Open Sans';
  margin-bottom: 20px;
}

hr {
  margin-top: 5px;
  margin-bottom: 0px;
}

#showFull {
text-align: center;
font-family: 'Raleway';
margin-bottom: 10px;
letter-spacing: 3px;
margin-top: 30px;
font-weight: bold;
font-size: 20px;
color:#FC5185;
}

.glyphicon-collapse-down{
  font-size: 20px;
  color: #FC5185;
}

.glyphicon-collapse-down:hover{
  font-size: 20px;
  color: #FC5185;
  /*box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);*/

}

.glyphicon-menu-left{
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

#directionNum{

    /*text-align: center;*/
    font-size: 22px;
    font-family: 'Open-Sans';
    margin-top: 10px;

}

.directions{
  margin-top: 20px;
  color: grey;
  font-family: 'Open-Sans';
  margin-bottom: 40px;
}



#directions {
    font-family: 'Raleway';
    margin-bottom:20px;
    font-size: 18px;
    text-align: left;
    color: grey;
    letter-spacing: 3px;
    border-bottom: 1px solid #bdbfc1;
}

#allReviews {
  margin-top: 25px;
  padding-bottom: 20px;
  /* border-radius: 5px; */
  /* background-color: #dce8f4; */
}

#eachReview{
  padding: 25px 0px 10px 25px;
  margin-bottom: 25px;
  background-color: white;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

  /* margin-top: 20px; */
}

#reviewName {
  font-family: 'Open Sans';
  font-size: 25px;
  color: grey;
  margin: 10px;
  /* margin: 15px 0px 10px 0px; */
}

#reviewRating {
  margin: 15px 0px 10px 0px;
  font-family: 'Open Sans';
  font-size: 20px;
  color:#f4ce42;
}

#reviewReview {
  font-family: 'Open Sans';
  margin-top: 15px;
  font-size: 22px;
  /* padding-left: 30px; */

}

.img-circle {
  height:65px;
  width: 65px;
}

.crtr {
  height:45px;
  width: 45px;
}

.glyphicon-star{
  color: gold;

}
#emptyStar {
  color: #d6d6cf;
}

#createRecButt{
  margin-top: 25px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Open Sans';
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #FC5185;
  border-color: #FC5185;
}

#createRecButt:hover {
  margin-top: 25px;
  margin-right: 20px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Open Sans';
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #FC5185;
  border-color: #FC5185;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

#whiteStar{
  color: white;
}


.save {
  background-color: white;
  border-color: #FC5185;
  color: #FC5185;
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Open Sans';
  padding-top: 5px;
}

.save:hover {
  background-color: #FC5185;
  border-color: #FC5185;
  color: white;
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Open Sans';
  padding-top: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input {
  padding:10px;
  font-size: 20px
}

#review-review-input {
  padding:10px;
  font-size: 20px;
  height:60px;
  text-align: left;
  vertical-align: top;
}

#exampleModalLabel {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
    position: relative;
    top: 15px;
    color: white;
  }

  .modal-header{
    background-color: #FC5185;
  }

  .close {
    font-size: 29px;
  }

  #recipeCreator {
    padding-left: 25px;
  }
