  <div *ngIf="recipe" class="container" id="wholeRecipe">
    <!-- <div class="row">
      <div class="col-md-3">
        <span class="glyphicon glyphicon-menu-left"></span>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        <div class="col-md-12" >
          <h1 id="recipeName">{{recipe.recipe.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <img class="img-responsive" *ngIf = "recipe.recipe.picture" [src]="baseUrl + recipe.recipe.picture" alt="">
        </div>
        <div class="col-md-5">
          <!-- <div class="row">
            <div [routerLink]="['/profile', recipe.recipe.user._id]" class="col-md-12" id="recipeCreator">
              <span class="glyphicon glyphicon-user"></span> {{recipe.recipe.user.fullName}}
            </div>
          </div> -->
          <div class="row" >
            <div class="col-md-6" id="recipeCooktime">
              <span class="glyphicon glyphicon-time"></span> COOK TIME
              <div class="time"><b>{{recipe.recipe.cookTime}}</b> min.</div>
            </div>
            <div class="col-md-6" id="recipeServes">
              <span class="glyphicon glyphicon-cutlery"> </span> SERVES
              <div class="serves">{{recipe.recipe.serves}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="ingredients">
                INGREDIENTS
              </div>
              <div id="eachIng"*ngFor="let ingredient of recipe.recipe.ingredients"> {{ ingredient }}
                  <!-- {{recipe.recipe.ingredient}} -->
              <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isShowingDirections" class="row">
        <div class="col-md-12" id="showFull">
        <div (click)="showDirections()">SHOW FULL RECIPE</div>
        <span class="glyphicon glyphicon-collapse-down"  (click)="showDirections()"></span>
        </div>
      </div>
      <div *ngIf="isShowingDirections" class="row">
        <div class="col-md-12" id="showFull">
        <div (click)="hideDirections()">HIDE FULL RECIPE</div>
        <span class="glyphicon glyphicon-collapse-up"  (click)="hideDirections()"></span>
        </div>
      </div>
      <div class="row" *ngIf = "isShowingDirections">
        <div class="col-md-2"></div>
        <div class="col-md-8" >
          <p id="directions">DIRECTIONS</p>
          <div class="directions"*ngFor="let direction of recipe.recipe.directions let i = index">
            <span  id="directionNum">{{i+1}}. {{direction}} </span>

          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      </div>
    </div>
    <!-- end of row -->
  </div>
<!-- end of container -->







<!-- <h1> Phone details </h1>
    <a [routerLink]="['']"> Back to list </a>

    <div *ngIf="recipe">

      <div class="recipe-info">
        <h1> Recipe Name {{ recipe.recipe.name }}&nbsp;</h1>
        <a [routerLink]="['/profile', recipe.recipe.user._id]"> Name {{ recipe.recipe.user.fullName}} </a>
        <div >
          <img *ngIf = "recipe.recipe.picture" [src]="baseUrl + recipe.recipe.picture" alt="">
      </div>
        <h3> Cook Time {{ recipe.recipe.cookTime }} </h3>
        <h3> Serves {{ recipe.recipe.serves }} </h3>
      </div>
      <hr>

      <div *ngFor="let review of recipe.review">
      <h2> Review {{ review.review }}&nbsp;</h2>
      <h2> Rating {{ review.rating }}&nbsp;</h2>
      <a [routerLink]="['/profile', review.user._id]"> Review Creator {{ review.user.fullName }} </a>

      <div class="phone-thumbnail">
      <img height="50" [src]="review.creatorThumbnail" />
      </div>
      <hr>
      </div>
      </div>
      <button *ngIf="!isShowingForm" (click)="showReviewForm()">
        Add Review
      </button>
      <hr>
      <div *ngIf = "isShowingForm">
        <h3>Create a New Review</h3>
        <p *ngIf = "saveError " class = "error">
        {{saveError}}</p>

        <form (ngSubmit) ="getParamsId()" (ngSubmit) ="saveNewReview()" >
          <label for="review-rating-input"> Recipe Rating </label>
          <input type="number" id="review-rating-input"
          placeholder =" Rate this recipe 1-5" [(ngModel)]="reviewInfo.reviewRating" name="reviewRating">
          <br>
          <label for="review-rating-input"> Recipe Review</label>
          <input type="text" id="review-review-input" placeholder = "Write what you liked about the recipe." [(ngModel)] = "reviewInfo.reviewReview" name="reviewReview">
          <br> -->
          <!-- <input id="review-recipeId-input" name="prodId" type="hidden" value="{{reviewInfo.recipeId}}" [(ngModel)] = "reviewInfo.recipeId"> -->

          <!-- <button>Submit Review </button>
        </form>

      </div> -->
