<p>
  recipes works!
</p>

<button (click)="logMeOutPls()"> Log Out </button>
 <p *ngIf="logoutError" class="error">
   {{ logoutError }}
 </p>

 <div *ngIf="currentUser">
   <h2> You are now logged in as {{ currentUser.fullName }}!! </h2>
   <h2> You are now logged in as {{ currentUser.email }}!! </h2>

   <p> Here's the user object </p>
   <pre> {{ user | json }} </pre>
 </div>

 <hr>
 <p *ngIf="recipeListError" class="error">
   {{ recipeListError }}
 </p>


 <ul>
  <li *ngFor="let recipe of recipeArray">
    <h3> {{ recipe.name }} </h3>
    <p>
      Owned by: {{ recipe.user.fullName }}
    </p>
  </li>
</ul>
